[submodule "Realm/ObjectStore"]
	path = Realm/ObjectStore
	# url = https://github.com/realm/realm-object-store.git
	# branch = master
	url = https://github.com/xinsight/realm-object-store.git
	branch = add-check-for-is-on-current-thread
